
This file goes to GitHub, because only says that have some sensitive variable, but not the values.
Each developer write your own data.
To managed this Enviroment Variables we use the lib "dotenv"

APP_SECRET=
APP_API_URL= http://localhost:3333 (The main URL from application. @shared/http/routes/server.ts)
APP_WEB_URL= http://localhost:3000 (Is the Template URL to reset password @modules/users/services/SendForgotPasswordEmail)
